.main-head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.main-head-logo {
  img {
    display: block;
    max-width: 100%;
  }
}

.main-head-help {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 25px;
  background-color: #ececec;
  border-radius: 0 3px 3px;
  &:hover {
    background-color: #111010;
    span {
      color: #eedf3b;
    }
  }
  img {
    display: inline-block;
    max-width: 100%;
    margin-right: 20px;
  }
  a,
  span {
    display: inline-block;
    color: #111010;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #eedf3b;
      text-decoration: none;
    }
  }
}

.main-head-basket {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  &:hover {
    span {
      color: #eedf3b;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 5px;
  }
  a,
  span {
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #eedf3b;
      text-decoration: none;
    }
  }
}

.main-head-info {
  max-width: 265px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #252525;
  p {
    margin: 0;
  }
  span {
    color: #757575;
  }
  a {
    color: #252525;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: underline;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #eedf3b;
      text-decoration: none;
    }
  }
}

.main-head-call {
  text-align: right;
  span {
    display: block;
    margin-bottom: 14px;
    color: #252525;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 1px solid #1d1d1d;
    border-radius: 3px;
    padding: 12px 25px;
    color: #252525;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    overflow: hidden !important;
    &:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 2px;
      background: #1d1d1d;
      left: 0;
      bottom: auto;
      top: -2px;
      width: 100%;
    }
    &:hover {
      text-decoration: none;
      cursor: pointer;
      &:after {
        width: 100%;
        left: 0;
        top: calc(100% - 2px);
      }
    }
  }
}

.slider-oil-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  padding: 22px 36px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 0 40px rgba(163, 163, 163, 0.42);
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    border: 1px solid #e4e3e3;
    text-decoration: none;
    p {
      text-decoration: none;
    }
    .slider-oil-card__btn {
      background-color: #ffea00;
    }
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
  p {
    display: block;
    margin-bottom: 15px;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
  }
  .slider-oil-card__btn {
    display: block;
    width: 100%;
    position: relative;
    background-color: #eedf3b;
    border-radius: 3px;
    padding: 14px 34px;
    text-align: center;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.slider-oil-card__price {
  margin-bottom: 20px;
  color: #929191;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  span {
    display: inline-block;
    color: #5c5c5c;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
  }
}

.main-title-slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e4e3e3;
}

.main-title-slider__text {
  display: inline-block;
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.main-title-slider__controls {
  display: flex;
  img {
    display: inline-block;
    margin: 0 1px;
    opacity: 0.8;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      opacity: 1;
      text-decoration: none;
    }
  }
}

.main-title {
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e4e3e3;
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.home-oils-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.home-oils-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 364px;
  height: 155px;
  margin: 8px;
  border-radius: 3px;
  transition: all 0.15s ease-out;
  background-blend-mode: multiply;
  text-align: center;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    span {
      background-color: rgba(0, 0, 0, 0.8);
      color: #eedf3b;
    }
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.15s ease-out;
  }
}

.home-seo {
  margin-bottom: 60px;
  color: #3d3d3d;
  font-family: "Open Sans";
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    margin-bottom: 5px;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    margin-bottom: 30px;
  }
}

.home-seo__title {
  display: block;
  margin-top: 35px;
  margin-bottom: 30px;
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
}

.seo_6 {
  display: inline-block !important;
  width: 49%;
}

.seo_p {
  padding-left: 20px;
}

.home-recall {
  margin-bottom: 60px;
  padding: 60px;
  border-radius: 5px;
  background: url('../images/recall_bg.jpg') center no-repeat;
  background-size: cover;
  text-align: center;
  span {
    display: block;
    margin-bottom: 20px;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 30px;
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
  }
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    input {
      display: inline-block;
      width: 400px;
      max-width: 100%;
      margin: 0 7px 20px;
      padding: 24px 27px;
      outline: none;
      border: none;
      background-color: white;
      border-radius: 3px;
      border: 1px solid white;
      color: #3d3d3d;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      transition: all 0.15s ease-out;
      &:focus {
        background-color: rgba(255, 255, 255, 0.9);
        border-color: #eedf3b;
      }
    }
    input[type="submit"] {
      border: 1px solid #eedf3b;
      border-radius: 3px;
      position: relative;
      background-color: transparent;
      color: #eedf3b;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      text-align: center;
      overflow: hidden;
      transition: all 0.15s ease-out;
      &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 2px;
        background: #1d1d1d;
        left: 0;
        bottom: auto;
        top: -2px;
        width: 100%;
      }
      &:hover {
        background-color: #eedf3b;
        color: #111010;
        text-decoration: none;
        cursor: pointer;
        &:after {
          width: 100%;
          left: 0;
          top: calc(100% - 2px);
        }
      }
    }
  }
}

.main-footer {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #393939;
}

.main-footer-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    a {
      display: inline-block;
      padding: 15px 5px;
      color: #a7a6a6;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #eedf3b;
        text-decoration: none;
      }
    }
  }
}

.main-footer__creators {
  margin-top: 15px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #a7a6a6;
  a {
    color: #dedbdb;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #eedf3b;
      text-decoration: none;
    }
  }
}

.navbar-default .navbar-toggle {
  border-color: #111010;
}

.navbar-default .navbar-toggle .icon-bar {
  border-color: #111010;
  background-color: #111010;
}

.main-content {
  padding-top: 40px;
  padding-bottom: 60px;
}

.main-content-block {
  padding-left: 17px;
}

.main-breadcrump {
  margin-bottom: 40px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: darkgrey;
  span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #747474;
  }
  a {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #747474;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #111010;
      text-decoration: none;
    }
  }
}

.categories-oils-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
}

.categories-oils-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 269px;
  height: 200px;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.15s ease-out;
  background-blend-mode: multiply;
  text-align: center;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    span {
      background-color: rgba(0, 0, 0, 0.8);
      color: #eedf3b;
    }
  }
  span {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    padding-top: 140px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.15s ease-out;
  }
}

.products-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.products-oil-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 269px;
  margin: 5px;
  margin-bottom: 15px;
  padding: 22px 36px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 0 40px rgba(163, 163, 163, 0.42);
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    border: 1px solid #e4e3e3;
    text-decoration: none;
    p {
      text-decoration: none;
    }
    .products-oil-card__btn {
      background-color: #ffea00;
    }
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
  p {
    display: block;
    height: 60px;
    overflow: hidden;
    margin-bottom: 15px;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
  }
  .products-oil-card__btn {
    display: block;
    width: 100%;
    position: relative;
    background-color: #eedf3b;
    border-radius: 3px;
    padding: 14px 34px;
    text-align: center;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.products-oil-card__price {
  margin-bottom: 20px;
  color: #929191;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  span {
    display: inline-block;
    color: #5c5c5c;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
  }
}

.main-pagination {
  padding-bottom: 60px;
  text-align: right;
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    text-decoration: none;
    color: #747474;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      background-color: #ececec;
      border: 1px solid #c4c4c4;
      border-radius: 3px;
    }
    &:active,
    &:focus {
      background-color: #393939;
      border-radius: 3px;
      border-color: #393939;
      color: #fefefe;
    }
  }
  &_active {
    background-color: #393939;
    border-radius: 3px;
    border-color: #393939;
    color: white;
  }
}

.product-block {
  padding-bottom: 60px;
}

.product-description_p {
  padding-top: 10px;
}

.product-img {
  text-align: center;
  img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
  }
  span {
    display: block;
    color: #12569c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #111010;
      text-decoration: underline;
    }
  }
  a {
    transition: all 0.15s ease-out;
    &:hover {
      color: #111010;
      text-decoration: underline;
      span {
        font-size: 18px;
        color: #111010;
        text-decoration: underline;
      }
    }
  }
}

.product-title {
  display: block;
  margin-bottom: 25px;
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.product-description {
  margin-bottom: 30px;
  color: #3d3d3d;
  font-family: "Open Sans";
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
  p {
    margin-bottom: 30px;
  }
}

.product-price {
  margin-bottom: 25px;
  color: #929191;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  span {
    color: #5c5c5c;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
  }
}

.product-buy {
  a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 14px 75px;
    background-color: #eedf3b;
    border-radius: 3px;
    color: #3d3d3d;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      background-color: #ffea00;
    }
  }
}