.navbar-default {
  border: none;
  background-color: #eedf3b;
  border-radius: 3px 3px 0 0;
}

.navbar {
  margin: 0;
  ul {
    position: relative;
  }
}

.navbar-nav {
  float: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.navbar-nav>li>a {
  display: inline-block;
  padding: 20px 15px;
  color: #111010;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
  display: inline-block;
  padding: 20px 15px;
  color: #111010;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.carousel-title {
  display: block;
  margin-bottom: 40px;
  color: white;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  height: 470px;
  object-fit: cover;
  border-radius: 0 0 3px 3px;
}

.carousel-caption {
  left: 10%;
  right: 10%;
  img {
    max-width: 100%;
  }
}

.carousel-control.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCarousel {
  margin-bottom: 80px;
  border-radius: 0 0 3px 3px;
}

#owl-oil {
  margin-bottom: 60px;
}

#owl-oil .item {
  margin: 17px;
}

#owl-oil-2 {
  margin-bottom: 60px;
}

#owl-oil-2 .item {
  margin: 17px;
}

#owl-oil-3 {
  margin-bottom: 60px;
}

#owl-oil-3 .item {
  margin: 17px;
}

#menu-list {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #111010;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
}

.menu-name {
  color: #111010;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  span {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
    padding: 12px 9px;
    background-color: white;
    box-shadow: inset 1px 0 0 black, 0 1px 0 white;
    transition: all 0.3s ease-out;
    z-index: 1;
    &:active,
    &:focus {
      background-color: black;
      border-radius: 0 3px 3px 0;
      box-shadow: 0 1px 0 black;
      color: #eedf3b;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      color: #eedf3b;
      background-color: black;
      border-radius: 0 3px 3px 0;
      box-shadow: 0 1px 0 black;
      transition: .35s ease left;
      z-index: -1;
    }
    &:hover {
      color: #eedf3b;
      cursor: pointer;
      &:after {
        left: 0;
      }
    }
  }
}

.menu-options {
  display: none;
  margin: 0;
  padding: 0;
  padding: 20px 10px 20px 30px;
  list-style: none;
  li {
    a {
      display: block;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 36px;
      color: #737373;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: black;
      }
    }
  }
}

// Navigation
$blue: #111010;
$white: #fff;
$black: #000;
$text: #424242;
@mixin cf {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.header {
  width: 100%;
  background-color: #eedf3b;
  border-radius: 3px 3px 0 0;
  padding-left: 40px;
  padding-right: 40px;
}

.header-nav {
  @include cf;
  position: relative;
  padding-right: 3em;
}

.menu {
  display: inline-block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1;
  z-index: 10;
  li {
    display: inline-block;
    a {
      color: $blue;
      display: block;
      padding: 20px 15px;
      position: relative;
      transition: color 0.3s;
      text-decoration: none;
      color: #111010;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      z-index: 10;
      overflow: hidden !important;
      &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 2px;
        background: #1d1d1d;
        left: 0;
        bottom: auto;
        bottom: -2px;
        width: 100%;
      }
      &:hover {
        text-decoration: none;
        cursor: pointer;
        &:after {
          width: 100%;
          left: 0;
          bottom: calc(100% - 2px);
        }
      }
    }
  }
  .dropdown-menu {
    position: absolute;
  }
}

.search-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.search-toggle {
  position: relative;
  display: block;
  height: 10px;
  width: 10px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    transition: all 0.1s;
  }
  &::before {
    border: 2px solid $blue;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;
  }
  &::after {
    height: 2px;
    width: 7px;
    background: $blue;
    top: 8px;
    left: 6px;
    transform: rotate(45deg);
  }
  &.active {
    &::before {
      width: 0;
      border-width: 1px;
      border-radius: 0;
      transform: rotate(45deg);
      top: -1px;
      left: 4px;
    }
    &::after {
      width: 12px;
      left: -1px;
      top: 4px;
    }
  }
}

.search-input {
  &:focus {
    outline: none;
  }
}

#header-2 {
  .menu {
    li {
      opacity: 1;
      transition: transform 0.3s, opacity 0.2s 0.1s;
      $time-offset: 0.3;
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          $time-offset: $time-offset + 0.1;
          transition-delay: #{$time-offset}s;
        }
      }
    }
  }
  .search-box {
    position: absolute;
    left: 0;
    height: 100%;
    padding-left: 2em;
    transform: translateX(20%);
    opacity: 0;
    transition: all 0.4s 0.3s;
    .search-input {
      border: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: -1;
      &::-webkit-input-placeholder {
        color: black;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: black;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: black;
      }
      &:-ms-input-placeholder {
        color: black;
      }
    }
    .search-toggle {
      width: 14px;
      height: 14px;
      padding: 0;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.show {
    .menu {
      li {
        transform: scale(0.8);
        opacity: 0;
      }
    }
    .search-box {
      width: calc(100% - 5em);
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.header-nav {
  padding: 0;
}

.dropdown-menu {
  margin-top: -5px;
  li {
    display: block;
    a {
      display: block;
      &:hover {
        background-color: #efefef;
      }
    }
  }
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
}