@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-head {
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-head-logo {
    margin-bottom: 5px;
  }
  .main-head-basket {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .navbar-nav {
    flex-flow: column wrap;
    justify-content: center;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-default .navbar-nav>li>a {
    padding: 10px;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #111010;
  }
  .carousel-caption {
    top: 40px;
  }
  .carousel-title {
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 24px;
  }
  #myCarousel {
    margin-bottom: 20px;
  }
  .home-oils-cards {
    justify-content: center;
    margin-bottom: 20px;
  }
  .categories-oils-cards {
    justify-content: center;
    margin-bottom: 20px;
  }
  .seo_6 {
    width: 100%;
  }
  .home-seo {
    margin-bottom: 20px;
    p {
      margin-bottom: 15px;
    }
  }
  .seo_p {
    padding: 0;
  }
  .home-seo__title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .home-recall {
    padding: 20px;
    margin-bottom: 20px;
    span {
      line-height: 1.2;
    }
    form {
      input {
        padding: 18px 20px;
      }
    }
  }
  .main-footer {
    padding: 15px;
  }
  .main-footer-nav {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .main-footer-nav li a {
    padding: 10px;
  }
  .main-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-breadcrump {
    margin-bottom: 20px;
  }
  .products-cards {
    justify-content: space-around;
  }
  .main-pagination {
    text-align: center;
  }
  .menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .search-button {
    position: relative;
    top: 20px;
    right: auto;
    left: auto;
    margin: 20px auto;
  }
  .header {
    padding: 15px;
  }
  .header-nav {
    padding: 0;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}